<section>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>What is a promise?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>
            "Promises provide a well-defined interface for interacting with an object that represents the result of an action that is performed asynchronously,
            and may or may not be finished at any given point in time." - <a href="http://wiki.commonjs.org/wiki/Promises">http://wiki.commonjs.org/wiki/Promises</a>
            </h4>
        </div>
    </div>
</section>