.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.well {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container-full {
    width: 98%;
    margin-right:5px;
}

.button-col {
    float: left;
    width: 4.99%;
    padding-left: 5px;
    padding-right: 5px;
}

.center-block {
    float: left;
    width: 90%;
}



