<section>
    <div class="text-center">
        <div>
            <img src="/img/icons/RM_Primary_Logo_1_RGB_With_Blue_Text.png">
        </div>
        <div>
            <h1>AngularJS</h1>
        </div>
        <div >
            <h3>Mike Moser</h3>
        </div>
        <div>&nbsp;</div>
        <div>
            <div class="col-md-5 text-right">
                <h4><strong>Email:</strong></h4>
            </div>
            <div class="col-md-7 text-left">
                <h4><strong class="text-info">mike.moser@rivermoss.com</strong></h4>
            </div>
        </div>
        <div>
            <div class="col-md-5 text-right">
                <h4><strong>Twitter:</strong></h4>
            </div>
            <div class="col-md-7 text-left">
                <h4><strong class="text-info">@mike_d_moser</strong></h4>
            </div>
        </div>
        <div>&nbsp;</div>
        <div>
            <h2>Source for download</h2>
            <h4 class="text-success">https://github.com/mmoser-rivermoss/code-camp-angularjs</h4>
        </div>
</section>