<section>
    <div class="row">
        <h1>What comes with AngularJS</h1>
    </div>
    <div class="row">
        <h4>
        AngularJS has a lot of pieces and parts. It is a very mature framework that is now supported by Google. There are some
        key components that make it a desired framework to use.
        </h4>
    </div>
    <div class="row">
        <h4>
            <ul>
                <li>Dependency Injection</li>
                <li>Modules</li>
                <li>Eventing</li>
                <li>Routing</li>
                <li>Controllers</li>
                <li>Directives</li>
                <li>Services</li>
                <li>Interceptors</li>
                <li>Testability</li>
                <li>Two way Model Binding</li>
                <li>Extends Html</li>
                <li>Makes Html more readable</li>
            </ul>
        </h4>
    </div>
</section>