<section>
    <h3>Scope</h3>
    <div hljs include="'../../greeting/controllers/helloWorld.js'"></div>
    <h4>
        <p>
            Each time we see a <code>$scope</code> parameter, remember it is an instance of the <code>Scope</code> class.
        </p>
        <p><code>Scope</code> class gives us things like:</p>
        <ul>
            <li>
                $emit
            </li>
            <li>
                $broadcast
            </li>
            <li>
                $watch
            </li>
            <li>
                $on
            </li>
            <li>
                etc...
            </li>
        </ul>
    </h4>
</section>