<!-- Angular JS -->
<script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.js"></script>
<!-- Angular UI -->
<script type="text/javascript" src="/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/highlightjs/highlight.pack.js"></script>
<script type="text/javascript" src="/angular-highlightjs/angular-highlightjs.min.js"></script>
<script type="text/javascript" src="/angular-animate/angular-animate.min.js"></script>


script(type='text/javascript', src='/js/application.min.js')

if (req.host='localhost')
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
