<section>
    <div class="row">
        <div class="col-md-1">
            <button ng-if="showPreviousButton" type="submit" ng-click="previous()" >
                <span class="glyphicon glyphicon-backward"></span>
            </button>
        </div>
        <div class="col-md-10">
            <div ng-include="pages[selectedIndex].template"></div>
        </div>
        <div class="col-md-1">
            <button ng-if="showNextButton" type="submit" ng-click="next()" >
                <span class="glyphicon glyphicon-forward"></span>
            </button>
            <button ng-if="showNextSection" type="submit" size="sm" ng-click="goToNextSection()" >
                {{ nextSection.name }}
                <span class="glyphicon glyphicon-forward"></span>
            </button>
        </div>
    </div>
</section>