<section>
    <h1>Angular Module</h1>
    <div>
        <p>
           Think of an Angular Module as a namespace or a container. It is a way to separate your code into chunks.
        </p>
        <p>
            Modules:
        </p>
        <ul>
            <li>
                Can be used for a feature set
            </li>
            <li>
                Could be an aspect
            </li>
            <li>
                Can be reusable across other applications
            </li>
            <li>
                Can be loaded in parallel and in any order
            </li>
        </ul>
    </div>
</section>