<section>
    <h1>Scenario</h1>
    <div>
        <p>
            How about if you wanted all your buttons to be styled a certain way throughout your site. Let's say that you don't want to include css classes on
            any of your buttons, because you don't want to change all of them if something changes. For instance, maybe Twitter Bootstrap does a complete rewrite
            of their css and changes all their button styles (yep...they just did that recently).
        </p>
        <p>
            Think about it for a minute. How would you do that?
        </p>
    </div>
</section>