<div class="row">
    <div class="col-md-6">
        <div hljs>
angular.module('riverMoss.directives').directive('button', [function() {
    return {
        restrict: 'E',
        compile: function(element, attr) {
            element.addClass('btn');

            if (attr.buttonType) {
                element.addClass('btn-' + attr.buttonType);
            } else if (attr.type === 'submit') {
                element.addClass('btn-primary');
            }

            if (attr.size) {
                element.addClass('btn-' + attr.size);
            }
        }
    };
}]);
        </div>
    </div>
    <div class="col-md-6">
        <div hljs>
<button>Standard</button>
<button type="submit">Submit</button>
<button button-type="success">Success</button>
<button button-type="warning" size="sm">Warning Small</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button>Standard</button>
                <button type="submit">Submit</button>
                <button button-type="success">Success</button>
                <button button-type="warning" size="sm">Warning Small</button>
            </div>
        </div>

    </div>
</div>


