<section>
    <div class="row">
        <div class="col-md-6">
            <h4>slide-show directive</h4>
            <div hljs include="'../../slides/directives/slide-show.js'"></div>
        </div>
        <div class="col-md-6">
            <h4>slide-show.tpl.html</h4>
            <div hljs include="'../../slides/templates/slide-show.tpl.html'"></div>
            <h4>Usage of slide show directive</h4>
            <div hljs include="'../../views/directives.html'"></div>
            <h4>Directive controller</h4>
            <div hljs include="'../../directivesTopic/controllers/directives.js'"></div>
        </div>
    </div>
</section>